<div class="unit one-fifth hide-on-mobiles"> 
  <aside>
    <h4>Getting around</h4>
    <ul>
      <li class="current"><a href="/">Latest Posts</a></li>
      <li class=""><a href="/contact.html">Contact Me</a></li>
    </ul>
    
    <div id="pairing_box">
      <h5>1<sup>up</sup> your Ruby!</h5>
      <h6>Let me help you:</h6>
      <ul>
        <li>refactor your code</li>
        <li>find and fix a bug</li>
        <li>make a deadline</li>
        <li>train your team!</li>
      </ul>
      <p align="center"><a href="/pairing.html">#PAIRWITHME</a>
      </p>
    </div>
  </aside>
</div>
